.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.newspaper {
 margin: auto;
  column-count: 3;
  width: 600px;
}

.item {
	margin-left: auto;
	margin-right: auto;
	width:800px;
}

@media screen and (max-width: 842px) {
  .item {
    width: 95%;
  }
}

body {
     background-color: #dfebf5; <!#90EE90>
	font-family: "Courier New", Courier, monospace;
	}
h1 {color: #0B2738; font-size: 400%;}
h2 {color: #0B2738;}
p {color: #0B2738;}
header{text-align: left;}
main {text-align: center; }
footer {text-align: center; }
d1 {
	background-color: #1e4620;
	color: #4caf50;
	border: 3px solid #4caf50;
	margin: 15px;
	border-radius: 10px;
	padding: 10px 17px;
	font-size:200%;
	text-align: left;
	text-decoration: none;
	display: inline-block;
}
dd {
	margin-bottom: 1rem;
	font-size:75%;
	text-align: center;
}

a:link {
	color: #1E6894;
	text-decoration: none;
}
a:visited {color: #13425E; text-decoration: none;}
a:hover {color: #1E6894;text-decoration: underline;cursor: crosshair;}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 97.5%;
}
.logo {
	position:fixed;
	left: 0px;
	top: 0px;
	border: 5px solid #dfebf5;
}
.toptext {
	position:absolute;
	left: 100px;
	top: 7px;
}


.column {
	
	float: left;
}
