.dropbtn {
  font-family: "Courier New", Courier, monospace;
background-color:#66000000;
  color: #1E6894;
  padding: 2px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  min-width: 120%;
  bottom: 20px;
  z-index: 1;
}

.dropup-content a {
  color: #13425E;
 background-color: #dfebf580;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover { background-color: #dfebf5CC; color:#37135e;}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}
.artworks {
    margin-top:0px; width:100%; height:100%; overflow-x:scroll; overflow-y:hidden;
}
.artworks::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.artworks {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.fade-in {
		opacity:0;
		transition: 120000ms;
	}
/*Contains the logo, links for navigating the website*/	
	.logo-container {
            margin-top: 20px; /* To prevent pressed against searchbar */
            width: 500px;
		display:block;
            margin-left: 15px;
            margin-right: auto;
            position: relative;
            height: 125px; /* Fixed height to prevent layout shifts */
        }
.small-logo-container {
            margin-top: 15px; /* To prevent pressed against searchbar */
            width: 125px;
		display:block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            height: 125px; /* Fixed height to prevent layout shifts */
        }
		
	.logo-container img {
            width: 100%;
            object-fit: contain;
            position: absolute;
            top: 0;
            left: 0;
			z-index: 0;
        }
		
	.logo-container nav {
            position: absolute;
			width: 100%;
        }
		
	.logo-container nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
		
	.logo-container nav a {
            color: #0B2738;
            text-align: right;
            padding: 0;
            text-decoration: none;
            /*transition: background-color 0.3s, color 0.3s;*/
            cursor: pointer;
        }

        .logo-container nav a:hover{
			color: #0B2738;
            text-decoration: underline;
        }
		
	.logo-container nav a.active {
			color: #13425E;
            text-decoration: underline;
        }
/*Classes for individual titles*/
.About{
	position:absolute; 
	left:34.4%;
	top:0px;
	font-size:135%;
	width:13%; 
	overflow: auto;
}
.Sketch {
	position:absolute; 
	left:49%; 
	top:0px; 
	font-size:135%;
	width:16%; 
	overflow: auto;
}
.Video {
	position:absolute; 
	left:68%; 
	top:0px; 
	font-size:135%; 
	width:13%; 
	overflow: auto;
}
.Paint {
	position:absolute; 
	right:0px; 
	top:0px; 
	font-size:135%; 
	width:13%; 
	overflow: auto;
}
.Other {
	position:absolute; 
	left:39%; 
	top:0px; 
	font-size:135%; 
	margin-top:37%; 
	width:14%; 
	overflow: auto;
}
.Sculpture {
	position:absolute; 
	left:56%; top:0px; 
	font-size:135%; 
	margin-top:37%; 
	width:24%; 
	overflow: auto;
}
.PhoDig {
	position:absolute; 
	 right: 0.004%; 
	 top:0px; 
	 font-size:135%; 
	 margin-top:37%; 
	 width:18.5%; 
	 overflow: auto;
}

/*END OF LOGO*/

/* Image Container Styling for PhotoDigital */
        .image-container {/*Main Container everything is in*/
            margin-top: 0px; /* Unneccisary */
            width: 90%;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;

            position: relative;
            height: 750px;
        }

        .image-container img {/*Holds the Images for retraval*/
            width: 60%;
            object-fit: contain;
            opacity: 0;/*so that there arent -n- images*/
            transition: opacity 0.1s ease-in-out;
            position: absolute;
            top: 0;
            left: 15%;
        }
		
		
        .image-container img.active {/*The currently Desplayed Image*/
            opacity: 1;
            position: relative;
        }
		
	.discription {/*a box to put the description of the artwork in*/
            width: 24%;
            position: absolute;
            top: 0;
            left: 76%;
        }
		/*the words for the artworks to the right*/
	.discription p {
	    margin-top: 8px;
            color: #0B2738;
        }
		
        .image-container nav {/*the navigator containter for going between images*/
            overflow: hidden;
            position: absolute;
	    width: 15%;
            top: 0;
	    left: 0;
            z-index: 1000;
        }
		
	.image-container nav ul {/*the list set up for navigating between images*/
            list-style-type: none;
            margin: 0;
            padding: 0;
            justify-content: flex-end;
        }

        .image-container nav li {/*the links themselves (just spacing them out)*/
            margin: 5px;
        }

        .image-container nav a {/*dictates the style of the links when resting*/
            display: block;
            color: #1E6894;
            text-align: right;
            padding: 0;
            text-decoration: none;
            /*transition: background-color 0.3s, color 0.3s;*/
            cursor: help;
        }

        .image-container nav a:hover{ /*dictates the style of the links when hovered*/
			color: #1E6894;
            text-decoration: underline;
        }
		
	.image-container nav a.active {/*dictates how the active image is indicated*/
			color: #13425E;
        text-decoration: underline;
        }
/*END OF PHOTODIGITAL FORMATTING*/
		

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.newspaper {
 margin: auto;
  column-count: 3;
  width: 600px;
}

.item {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:800px;
}

.video {
	margin-left: auto;
	margin-right: auto;
	width:800px;
	height:450px;
}
.inspire {
	margin-left: auto;
	margin-right: auto;
	width:800px;
}

.inspire a {
	font-size: 120%;
}

@media only screen and (max-width: 510px) {

	.logo-container {
            width: 95%;
            margin-left: 2.5%;
            margin-right: 2.5%;
            position: relative; /* Fixed height to prevent layout shifts */
        }
}

@media only screen and (max-width: 800px) {
	.video {
		width:95%;
	}
	.image-container img {
            width: 100%;
            position: static;
            top: auto;
            left: auto;
        }
		
		
        .image-container img.active {
            position: static;
        }
		
	.discription {
            width: 100%;
            position: static;
            top: auto;
            left: auto;
        }
	.image-container nav {
       		position: static;
	   	width: 100%;
		text-align:center;
        	top: auto;
	    	left: auto;
		margin-left:auto;
		margin-right:auto;
		
        }
	.image-container nav li {/*the links themselves (just spacing them out)*/
            display: inline-block;
		
        }
.discription p {
text-align:center;
        }
	.discription h1 {
text-align:center;
        }
}

@media only screen and (max-width: 842px) {
  .item {
    width: 95%;
  }
	.inspire {
    width: 95%;
  }
  	
}

body {
   	font-family: "Courier New", Courier, monospace;
	margin: 0;
  	padding: 0;
        background-color: #dfebf5;
}
h1 {font-size: 130%; margin: 0; color: #37135e;} /*subtitles*/
h2 {color: #0B2738;}
p {color: #0B2738;}
header{text-align: left;}
main {text-align: center; }
footer {text-align: center; }
d1 {
	background-color: #1e4620;
	color: #4caf50;
	border: 3px solid #4caf50;
	margin: 15px;
	border-radius: 10px;
	padding: 10px 17px;
	font-size:200%;
	text-align: left;
	text-decoration: none;
	display: inline-block;
}
dd {
	margin-bottom: 1rem;
	font-size:75%;
	text-align: center;
}

a:link {
	color: #1E6894;
	text-decoration: none;
}
a:visited {color: #13425E; text-decoration: none;}
a:hover {color: #1E6894;text-decoration: underline;cursor: pointer;}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 97.5%;
}
.logo {
	position:fixed;
	left: 0px;
	top: 0px;
	border: 5px solid #dfebf5;
}
.toptext {
	position:absolute;
	left: 100px;
	top: 7px;
}


.column {
	
	float: left;
}
