
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 98%
}

.column {
	
	float: left;
	width: 33.33%;
	text-align: center;
}
@media screen and (max-width: 1500px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .column {
    width: 100%;
  }
}
body {
	<!background-image: url("Compressed FORGBG.gif");
	background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;>
	background-colour: #1e4620;
	
	font-family: "comic sans MS", "comic sans"
	}
h1 {color: #4caf50; font-size: 400%;}
h2 {color: #449e48;}
p {color: #3d8c40;}
header{text-align: center;}
main {text-align: center;}
footer {text-align: center;}
d1 {
	background-color: #1e4620;
	color: #4caf50;
	border: 3px solid #4caf50;
	margin: 15px;
	border-radius: 10px;
	padding: 10px 17px;
	font-size:200%;
	text-align: left;
	text-decoration: none;
	display: inline-block;
}
dd {
	margin-bottom: 1rem;
	font-size:75%;
	text-align: center;
}

a:link {
	background-color: #1e4620;
	color: #4caf50;
	border: 2px solid #4caf50;
	margin: 15px;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
a:visited {color: #06b48b; text-decoration: none;}
a:hover {color: white;text-decoration: underline;}
